<% if (success && success.length > 0) { %>

    <div class="alert alert-success alert-dismissible">
        <i class="fa-solid fa-circle-check me-2"></i>
        <b><%= success %></b>
        <button class="btn-close" data-bs-dismiss="alert"></button>
    </div>

<% } %>


<% if (error && error.length > 0) { %>

    <div class="alert alert-danger alert-dismissible">
        <i class="fa-solid fa-circle-exclamation me-2"></i>
        <b><%= error %></b>
        <button class="btn-close" data-bs-dismiss="alert"></button>
    </div>

<% } %>
