<footer class="border-top bg-body-tertiary">
    <div class=" left "> 
        <p><i class="fa-regular fa-copyright"></i>&nbsp;&nbsp;2024 &nbsp;Nest Share inc</p>
        <a href="../assets/privacy.pdf">Privacy</a>
        <a href="../assets/terms.pdf">Terms</a>
        <a href="">Support</a>
    </div>

    <div class=" right ">
        <a href="https://github.com/chetanckKala"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/chetankala_14/profilecard/?igsh=a3lsbXhrbjVxM3pi"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/chetan-kala-5726221b4/"><i class="fa-brands fa-linkedin"></i></i></a>
    </div>
</footer>