<% layout("./layouts/boilerplate.ejs") %>

<body>
    <div class="w-100 h-100 d-flex align-items-center justify-content-center" id="wrapper">
        <div class="card mt-3 d-flex align-items-center justify-content-center">

            <img class="card-img-top w-50 mb-3" src="https://cdn-icons-png.flaticon.com/512/3434/3434672.png" alt="">
    
            <div class="card-body alert alert-danger">
                <%= err.message %>
            </div>
          
        </div>
    </div>
</body>