<% layout("./layouts/boilerplate.ejs") %>

<body>

    <div
    style="height: 70vh; flex-direction: column;"
    class="container d-flex justify-content-center align-items-center">
    <h4 class="mb-3"><b>Signup here</b></h4>
    <form class="card border p-4" method="post" action="/users/signup">

        <div><input name="username" class="form-control mb-3" type="text" placeholder="Username"></div>
        <div><input name="email" class="form-control mb-3" type="email" placeholder="Email"></div>
        <div><input name="pswd" class="form-control mb-3" type="password" placeholder="Password"></div>

        <button class="btn btn-dark">Sign up</button>
        
    </form>
    </div>

</body>